.header{
    height: 100px;
    background-image: url('web/themes/custom/firstcustomtheme/assets/nature.jpg');
}
.layout-container{
    background-color: rgb(177, 186, 255);
}
.view1{
    background-color: deepskyblue;
}